@import url("//fonts.googleapis.com/css?family=Ubuntu");
@import url("dead-simple-grid/css/grid.css");
@import url("dead-simple-grid/css/screen.css");

/*!
 * The code for animation is a fork of the following code:
 *
 *   Pure CSS Gradient Background Animation by Manuel Pinto
 *   https://codepen.io/P1N2O/pen/pyBNzX
 */

body {
  width: 100%;
  height: 100vh;
  font-family: Ubuntu, Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient-background 30s ease infinite;
}

@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 90em;
}

a {
  color: #e8ff96;
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.indented {
  padding-left: 2em;
}

.ad-unit {
  text-align: center;
  color: #bbb;
}

ul.circlebullet {
  list-style: circle;
}

ul.squarebullet {
  list-style: square;
}

code {
  color: #fff;
}

@media only screen and (width >= 34em) {
  .feature,
  .info {
    width: 50%;
  }
}

@media only screen and (width >= 54em) {
  .content {
    width: 66.66%;
  }

  .sidebar {
    width: 33.33%;
  }

  .info {
    width: 100%;
  }
}

@media only screen and (width >= 76em) {
  .content {
    width: 58.33%;
  }

  .sidebar {
    width: 41.66%;
  }

  .info {
    width: 50%;
  }
}
