---
name: CI/CD
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  html-lint-and-scan:
    permissions:
      contents: read
    uses: dceoy/gh-actions-for-devops/.github/workflows/html-lint-and-scan.yml@main
